<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Fakebook
      · <%= link_to 'TheOdinProject Facebook project page', 'https://www.theodinproject.com/courses/ruby-on-rails/lessons/final-project' %>
      · <%= link_to 'Github', 'https://github.com/maksimoreo/fakebook' %>
    </p>
  </div>
</footer>
