<h1 class="is-size-1 has-text-weight-bold has-text-centered has-text-primary">Recent Posts</h1>

<% if @posts.empty? %>
  <h2 class="subtitle has-text-centered">No recent posts...</h2>
<% else %>
  <h2 class="subtitle has-text-centered"><%= @posts.count %> latest posts on Fakebook</h2>

  <% @posts.each do |post| %>
    <%= render partial: 'posts/small', locals: { post: post } %>
  <% end %>
<% end %>
